@{
	var sha = ViewData["Sha"].ToString();
	var commitUrl = $"https://github.com/SOBotics/Reports/commit/{sha}";
	var serverVersion = sha.ToString().Substring(0, 5);
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" type="text/css" href="/css/bundle-1.2.0.min.css" />
		<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/js/main-1.0.0.min.js"></script>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<meta name="theme-color" content="#1A1A1A">
		<title>SOBotics Reports - @ViewData["Title"]</title>
	</head>
	<body>
		<div id="container">
			<header>
				<a href="/"><h1>SOBotics Reports</h1></a>
				<button class="switchToLight" title="Switch to the light theme"></button>
				<button class="switchToDark" title="Switch to the dark theme"></button>
			</header>
			<div id="main">
				@RenderBody()
			</div>
			<footer>
				<div id="footerContainer">
					@if (ViewData["AppName"] != null)
					{
						<span class="reportOwner">
							Data provided by <span style="font-family:QuickSandBold">
								@{
									if (ViewData["AppURL"] == null)
									{
										@ViewData["AppName"]
									}
									else
									{
										<a href="@ViewData["AppURL"]">@ViewData["AppName"]</a>
									}
								}
							</span>
						</span>
					}
					<span class="runningOn">Running on <a style="font-family:QuickSandBold" href="@commitUrl">@serverVersion</a></span>
				</div>
			</footer>
		</div>
	</body>
</html>