@using Reports;
@using Reports.Models;
@{
	ViewData["title"] = "Stats";
	var appStats = (Dictionary<string, AppStats>)ViewData["appStats"];
	var serverStats = (Dictionary<string, ResponseTypeStats>)ViewData["serverStats"];
}

<h2>Server Stats</h2>
@if (serverStats.Values.Sum(x => x.Requests) > 0)
{
	var reqCount = serverStats.Values.Sum(x => x.Requests).Prettify();
	var bytes = serverStats.Values.Sum(x => x.BytesTransferred).ToReadableByteCount();
	var avgResTime = Math.Round(serverStats.Values.Average(x => x.MedianResponseTime));

	<p>Over the last 7 days, the server has processed <strong>@reqCount</strong> requests.</p>
	<p>Totalling <strong>@bytes.Substring(0, bytes.Length - 3)</strong>@bytes.Substring(bytes.Length - 3) of data, with an average response time of <strong>@avgResTime</strong>ms.</p>

	<table>
		<thead>
			<tr>
				<th>Content Type</th>
				<th>Requests</th>
				<th>Median Response Time (ms)</th>
				<th>Total Data Transferred</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var type in serverStats.Keys)
			{
				<tr>
					<td>@type</td>
					<td>@serverStats[type].Requests.Prettify()</td>
					<td>@serverStats[type].ResponseTimePretty</td>
					<td>@serverStats[type].BytesTransferred.ToReadableByteCount()</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>Not enough data available yet.</p>
}

<h2>App Stats</h2>
@if (appStats.Count > 0)
{
	<table>
		<thead>
			<tr>
				<th><span>App Name</span></th>
				<th><span title="The sum of non-unique views generated from all live reports">Total Views</span></th>
				<th><span title="The average non-unique view count per live review">Views/Report</span></th>
				<th><span title="The total number of reports that have not yet expired">Live Reports</span></th>
				<th><span title="The average number of reports generated per day">Reports/Day</span></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var s in appStats.Values)
			{
				<tr>
					@if (s.AppURL != null)
					{
						<td><a href="@s.AppURL">@s.Name</a></td>
					}
					else
					{
						<td>@s.Name</td>
					}
					<td>@s.TotalViews.Prettify()</td>
					<td>@s.ViewsPerReport.Prettify(1)</td>
					<td>@s.LiveReports.Prettify()</td>
					<td>@s.ReportsPerDay.Prettify(1)</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>Not enough data available yet.</p>
}