@using Reports.Models;
@{
	ViewData["title"] = "Stats";
	var numStyle = "{0:#,##0.##}";
	var appStats = (Dictionary<string, AppStats>)ViewData["appStats"];
	var serverStats = (ServerStats)ViewData["serverStats"];
	//TODO: Refactor this crap.
	var reqCount = string.Format(numStyle, serverStats.TotalReqs);
	var totalMiB = string.Format(numStyle, Math.Round(serverStats.TotalDataProcessed / 1024.0));
	var apiMiB = Math.Round(serverStats.ApiBytesProcessed / 1024.0);
	var staticMiB = Math.Round(serverStats.StaticBytesProcessed / 1024.0);
	var dynamicMiB = Math.Round(serverStats.DynamicBytesProcessed / 1024.0);
	var avgResTime = Math.Round(serverStats.AvgerageResponseTimeMS);
}

<h2>Server Stats</h2>
@if (serverStats.TotalReqs > 0)
{
	<p>Over the last 7 days, the server has processed <strong>@reqCount</strong> requests.</p>
	<p>Totalling <strong>@totalMiB</strong>MiB of data, with an average response time of <strong>@avgResTime</strong>ms.</p>

	<table>
		<thead>
			<tr>
				<th>Content Type</th>
				<th>Requests</th>
				<th>Median Response Time (ms)</th>
				<th>Total MiB Transferred</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>API</td>
				<td>@string.Format(numStyle, serverStats.ApiReqCount)</td>
				<td>@Math.Round(serverStats.MedianApiTime)</td>
				<td>@string.Format(numStyle, apiMiB)</td>
			</tr>
			<tr>
				<td>Static Files</td>
				<td>@string.Format(numStyle, serverStats.StaticReqCount)</td>
				<td>@Math.Round(serverStats.MedianStaticTime)</td>
				<td>@string.Format(numStyle, staticMiB)</td>
			</tr>
			<tr>
				<td>Dynamic Views</td>
				<td>@string.Format(numStyle, serverStats.DynamicReqCount)</td>
				<td>@Math.Round(serverStats.MedianDynamicTime)</td>
				<td>@string.Format(numStyle, dynamicMiB)</td>
			</tr>
		</tbody>
	</table>
}
else
{
	<p>Not enough data available yet.</p>
}

<h2>App Stats</h2>
@if (appStats.Count > 0)
{
	<table>
		<thead>
			<tr>
				<th><span>App Name</span></th>
				<th><span title="The sum of non-unique views generated from all live reports">Total Views</span></th>
				<th><span title="The average non-unique view count per live review">Views/Report</span></th>
				<th><span title="The total number of reports that have not yet expired">Live Reports</span></th>
				<th><span title="The average number of reports generated per day">Reports/Day</span></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var s in appStats.Values)
			{
				<tr>
					@if (s.AppURL != null)
					{
						<td><a href="@s.AppURL">@s.Name</a></td>
					}
					else
					{
						<td>@s.Name</td>
					}
					<td>@string.Format(numStyle, s.TotalViews)</td>
					<td>@string.Format(numStyle, s.ViewsPerReport)</td>
					<td>@string.Format(numStyle, s.LiveReports)</td>
					<td>@string.Format(numStyle, s.ReportsPerDay)</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>Not enough data available yet.</p>
}