@model Reports.Models.Report

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="theme-color" content="#1A1A1A">
	<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/fonts/fonts.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<title>SOBotics Reports - @Model.ID</title>
</head>

<body>
	<div id="container">
		<header>
			<a href="/"><h1>SOBotics Reports</h1></a>
			<span class="switchToLight" title="Switch to the light theme"></span>
			<span class="switchToDark" title="Switch to the dark theme"></span>
		</header>
		<div id="main">
			<div class="reportFunctions">
				<span id="openAllReports">Open all</span>
			</div>
			@foreach (var r in Model.Records)
			{
				<div class="report">
				@foreach (var f in r.Fields)
				{
					switch (f.Type)
					{
						case Reports.Models.Type.Link:
							{
								<div class="reportField">
									<a target="_blank" href="@f.Value">
										@f.Name
									</a>
								</div>
								break;
							}
						case Reports.Models.Type.Date:
							{
								<div class="reportField">
									<span class="valueName">@f.Name</span>: 
									<span class="timestamp" data-unixtime="@f.Value"></span>
								</div>
								break;
							}
						case Reports.Models.Type.Answers:
							{
								if (f.Value.ToUpperInvariant().StartsWith("A"))
								{
									<div class="reportField" style="color:#00AB0B;" title="This question has an accepted answer">
										<span class="valueName">@f.Name</span>: @f.Value.Remove(0, 1)
									</div>
								}
								else
								{
									<div class="reportField">
										<span class="valueName">@f.Name</span>: @f.Value
									</div>
								}

								break;
							}
						default:
							{
								
								@if (!string.IsNullOrWhiteSpace(f.Name))
								{
									<div class="reportField">
										<span class="valueName">@f.Name</span>: @f.Value
									</div>
								}
								else
								{
									<div class="reportField">
										@f.Value
									</div>
								}
								break;
							}
					}
				}
				</div>
			}
		</div>
		<footer>
			<div id="footerContainer">
				<span class="reportOwner">
					Data provided by <span style="font-family:QuickSandBold">
					@{
						if (String.IsNullOrEmpty(@Model.AppURL))
						{
							@Model.AppName
						}
						else
						{
							<a href="@Model.AppURL">@Model.AppName</a>
						}
					}
					</span>
				</span>
				<span class="runningOn">Running on <a style="font-family:QuickSandBold" href="https://github.com/SOBotics/Reports/commit/@ViewData["LocalCommit"]">@ViewData["ServerVersion"]</a></span>
			</div>
		</footer>
	</div>
</body>
</html>
